:root {
    --card-type-victory: rgb(117, 197, 85);
    --card-type-treasure: rgb(243, 212, 114);
    --card-type-action: rgb(240, 237, 222);
    --card-type-reaction: rgb(119, 173, 222);
    --card-type-curse: rgb(178, 137, 209);
    --card-type-special: rgb(140, 129, 85);

    --card-text-background: rgb(166, 170, 169);

    --inactive-color: rgb(32, 32, 32);
    --active-color: rgb(0, 128, 255);
    --active-focus-color: blue;

    --player-link-color: rgb(145, 148, 175);
}
