:root {
    --std-gap: 10px;

    --slow-animation-duration: 0.8s;
    --fast-animation-duration: 0.4s;

    --card-width: 100px;
    --card-height: 161px;
    --card-header: 17px;
    --card-footer: 15px;
    --card-icon: 13px;
    --card-body: calc(var(--card-height) - var(--card-header) - var(--card-footer) - 4px);
    --card-half-height: calc(var(--card-height) - var(--card-body)/2);
    --card-border-width: 2px;    
}

:root {
    --local-scale: 1.0;
    --zoom-scale: 2.0;
    --text-scale: 2.0;
    --text-image-align: baseline;
}

input[type=text] {
    line-height: normal;
}