:root {
    --std-gap: 10px;

    --slow-animation-duration: 0.8s;
    --fast-animation-duration: 0.4s;

    --card-width: 100px;
    --card-height: 161px;
    --card-header: 17px;
    --card-footer: 15px;
    --card-cost-icon: 14px;
    --card-set-icon: 8px;
    --card-body: calc(var(--card-height) - var(--card-header) - var(--card-footer) - 4px);
    --card-half-height: calc(var(--card-height) - var(--card-body)/2);
    --card-third-height: 65px; /* xxx calculate this - currently it's really 65.5 so fix that */
    --card-border-width: 2px;
}

:root {
    --local-scale: 1.0;
    --zoom-scale: 2.0;
    --text-scale: 2.0;
    --text-image-align: baseline;
}

html, input {
    line-height: normal;
}