.stack-header__wrapper {
    display: flex;
    flex-direction: column;
}

.stack-header {
    margin: 0;
    text-align: center;
    background: var(--overlay-color);
    border-radius: 4px;
    font-weight: normal;
    font-size: calc(var(--local-scale) * var(--stack-header-font));
}