.active-choice__prompt {
    font-size: 1.2em;
    font-weight: bold;;
}

.active-choice__select-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.active-choice__select-cards__deselected .with-tooltip {
    opacity: 50%;
}