.active-card {
    --card-border-color: var(--inactive-color);
    position: relative;
}

.active-card--enabled {
    --card-border-color: var(--active-color);
    cursor: pointer;
}

.active-card--enabled:hover {
    --card-border-color: var(--active-focus-color);
    cursor: pointer;
}

.active-card__large-wrapper {
    width: calc(var(--card-width) * var(--zoom-factor)); 
    height:calc(var(--card-height) * var(--zoom-factor));
}