.board-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'safe-commands stats        global-commands'
                         'played-cards  played-cards played-cards';
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
}

.board-view__statbar {
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.board-view__played-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.board-view__played-cards__centered-row {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.board-view__played-cards__centered-row__actual-played-cards {
    overflow-x: auto;
}

.board-view__choice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1; /* to go above magnify... */
}