.card-view {
    width: var(--card-width);
    border: 2px solid var(--card-border-color);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.card-view img {
    max-width: calc(var(--card-width) - 4px);
}

.card-view__title {
    text-align: center;
    height: var(--card-header);
    background: var(--highlight);
}

.card-view__picture {
    overflow: hidden;
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__header {
    font-size: var(--card-title-font);
}

.card__image {
    height: calc(var(--card-body) / 2 - 1px);
}

.card__image-2x {
    height: var(--card-body);
    overflow: hidden;
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__text-separator {
    height: 2px;
    border-top: 1px solid var(--card-text-background);
    border-bottom: 1px solid black;
    border-left: 1px solid var(--highlight);
    border-right: 1px solid var(--highlight);
}

.card__text {
    height: calc(var(--card-body) / 2 - 1px);
    font-size: var(--card-body-font);
    background: var(--card-text-background);
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__footer {
    font-size: var(--card-title-font);
    position: relative;
}

.card__footer-cost {
    position: absolute;
    left: 0;
    bottom: 0;
}