.chat-view {
    min-width: 350px;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.15;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-auto-columns: auto;
}

.chat-view__log {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
}

.chat-view__username {
    font-weight: bold;
}

.chat-view__entry {
    display: grid;
    grid-template-columns: 1fr auto;
}