.config-view {
    display: grid;
    justify-content: space-around;
    grid-template-areas: 'players setup'
                         'pcmds   scmds';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.config-view--constrained {
    margin: 0 110px;
}

.config-view__sets {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
}

.config-view__sets-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}