.effect-view__icon {
    vertical-align: bottom;
}

.effect-view__tooltip {
    font-size: var(--card-body-font);
    background: var(--card-text-background);
    border: 1px solid var(--card-type-action);
}