@code {
    [Parameter] public string Id { get; set; }
    private IEffect effect;

    protected override void OnParametersSet()
    {
        effect = All.Effects.ByName(Id);
    }
}

<WithTooltip>
    <Content>
        <img class="effect-view__icon" width="32" src="cards/@(effect.Art).jpg" />
    </Content>
    <Tooltip>
        <Magnify>
            <div class="effect-view__tooltip">
                <RichText @key="effect.Text.GetHashCode()" Model="@effect.Text" />
            </div>
        </Magnify>
    </Tooltip>
</WithTooltip>