.effect-view__icon {
    vertical-align: bottom;
    border: 2px solid var(--card-type-action);
    border-radius: 4px;
}

.effect-view__tooltip {
    padding: 0.5em;
    background: var(--card-text-background);
    border: 2px solid var(--card-type-action);
    border-radius: 4px;
    font-size: calc(var(--card-body-font) * var(--text-scale));
    font-family: var(--card-body-family);
    --text-image-align: bottom;
}