.kingdom-view {
    display: grid;
    grid-gap: var(--std-gap);
    grid-template-columns: repeat(10, auto);
    grid-template-rows: auto auto;    
    grid-template-areas: '. . . . . . . mat2 mat1 mat0' 
                         '. . . . . . . .    .    .';
}

.kingdom-view__row2 {
    display: flex;
    grid-row: 2;
}

.kingdom-view__mat0 {
    display: flex;
    grid-area: mat0;
}

.kingdom-view__mat1 {
    display: flex;
    grid-area: mat0;
}

.kingdom-view__mat2 {
    display: flex;
    grid-area: mat0;
}