.card-view {
    --local-card-width: calc(var(--local-scale) * var(--card-width));
    --local-card-border-width: calc(var(--local-scale) * var(--card-border-width));
    --local-card-border-half: calc(var(--local-card-border-width) / 2);
    --local-card-header: calc(var(--local-scale) * var(--card-header));
    --local-card-body: calc(var(--local-scale) * var(--card-body));
    --local-card-title-font: calc(var(--local-scale) * var(--card-title-font));
    --local-card-body-font: calc(var(--local-scale) * var(--card-body-font));
    --local-card-icon: calc(var(--local-scale) * var(--card-icon));
    width: var(--local-card-width);
    border: solid var(--card-border-color);
    border-width: var(--local-card-border-width);
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--local-card-border-width) * 2);
}

.card-view img {
    max-width: calc(var(--local-card-width) - calc(var(--local-card-border-width) * 2));
}

.card-view__title {
    text-align: center;
    height: var(--local-card-header);
    background: var(--highlight);
}

.card-view__picture {
    overflow: hidden;
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
}

.card__header {
    font-size: var(--local-card-title-font);
}

.card__image {
    height: calc(var(--local-card-body) / 2 - var(--local-card-border-half));
}

.card__image-2x {
    height: var(--local-card-body);
    overflow: hidden;
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
}

.card__text-separator {
    height: var(--local-card-border-width);
    border-top: var(--local-card-border-half) solid var(--card-text-background);
    border-bottom: var(--local-card-border-half) solid black;
    border-left: var(--local-card-border-half) solid var(--highlight);
    border-right: var(--local-card-border-half) solid var(--highlight);
}

.card__text {
    height: calc(var(--local-card-body) / 2 - var(--local-card-border-half));
    font-size: var(--local-card-body-font);
    background: var(--card-text-background);
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__text > * {
    text-align: center;
}

.card__footer {
    font-size: var(--local-card-title-font);
    position: relative;
}

.card__footer-cost, .card__footer-set
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--local-card-header);
    height: var(--local-card-header);
}

.card__footer-cost {
    position: absolute;
    left: 0;
    bottom: 0;
}

.card__footer-set {
    right: 0;
    bottom: 0;
}

.card__icon {
    width: var(--local-card-icon);
    height: var(--local-card-icon);
}