@code {
    [CascadingParameter(Name = "Current")] public GameModel Model { get; set; }
    [Parameter] public string Id { get; set; }
    private IMat mat;
    private string contents;

    protected override void OnParametersSet()
    {
        mat = All.Mats.ByName(Id);
        var cards = (Model.MatCards?.ContainsKey(Id)??false) ? Model.MatCards[Id] : new List<Instance>();
        contents = mat.GetContents(cards);
    }
}

<div class="mat-view">
    <img class="mat-view__picture" src="/mats/@(mat.Art).jpg">
    <div class="mat-view__overlay">
        @if (contents != null)
        {
            <div class="mat-view__contents">
                <RichText Model="@contents" />
            </div>
        }
    </div>
    @if (mat.Label != null)
    {
        <h3 class="mat-view__label">@mat.Label</h3>
    }
</div>