.player-link {
    color: rgb(145, 148, 175);
    font-weight: 600;
}

.player-link--active {
    font-style: italic;
}

.player-link--disconnected {
    text-decoration: line-through;
}

.player-link__tooltip {
    padding: 0.5em;
    border: 2px solid rgb(145, 148, 175);
    border-radius: 4px;
    background: var(--card-type-victory);
    font-size: calc(var(--card-body-font) * var(--local-scale));
}