.player-link {
    color: var(--player-link-color);
    font-weight: 600;
}

.player-link--active {
    font-style: italic;
}

.player-link--disconnected {
    text-decoration: line-through;
}

.player-link__tooltip {
    padding: 0.5em;
    border: 2px solid var(--player-link-color);
    border-radius: 4px;
    background: white;
    --text-image-align: bottom;
}