.rich-text__paras > p:first-child {
    margin-top: 0;
}

.rich-text__paras > p:last-child {
    margin-bottom: 0;
}

.rich-text__block {
    font-weight: bold;
    text-align: center;
}

.rich-text__small {
    font-size: var(--card-body-font-small);
}

.rich-text__symbol {
    vertical-align: bottom;
}

.rich-text__error {
    color: red;
}