.rich-text__paras > p:first-child {
    margin-top: 0;
}

.rich-text__paras > p:last-child {
    margin-bottom: 0;
}

.rich-text__block {
    font-weight: bold;
    text-align: center;
}

.rich-text__small {
    font-size: calc(var(--local-scale) * var(--card-body-small-font));
}

.rich-text__symbol {
    vertical-align: bottom;
    width: calc(var(--local-scale) * 8px);
    height: calc(var(--local-scale) * 8px);
}

.rich-text__error {
    color: red;
}

.rich-text__no-break {
    white-space: nowrap;
}

.rich-text__bar {
    width: 70%;
}