@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public bool Half { get; set; }
    [Parameter] public int Stack { get; set; }
    private int TrueCount => Name == "trash" ? Stack - 1 : Stack;
}

@if (Half || TrueCount > 1)
{
    <WithTooltip>
        <Content>
            <Stacked Size="@Stack" Colour="special" Half="@Half">
                <div class="special-card">
                    @if (Half)
                    {
                        <img class="special-card__1x" src="/@(Name)-half.jpg" />
                    }
                    else
                    {
                        <img class="special-card__2x" src="/@(Name)-full.jpg" />
                    }
                </div>
            </Stacked>
        </Content>
        <Tooltip>
            <Magnify>
                <StackHeader Size="@TrueCount">
                    <div class="special-card">
                        <img class="special-card__2x" src="/@(Name)-full.jpg" />
                    </div>
                </StackHeader>
            </Magnify>
        </Tooltip>
    </WithTooltip>
}
else
{
    <Stacked Size="@Stack" Colour="special">
        <div class="special-card">
            <img class="special-card__2x" src="/@(Name)-full.jpg" />
        </div>
    </Stacked>
}