.special-card {
    width: calc(var(--local-scale) * var(--card-width));
    border: solid var(--card-border-color);
    border-width: calc(var(--local-scale) * 2px);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.special-card img {
    max-width: calc(var(--local-scale) * (var(--card-width) - 4px));
    object-fit: cover;
}

.special-card__1x {
    height: calc(var(--local-scale) * (var(--card-body)/2 + var(--card-header)*2 -1px));
}

.special-card__2x {
    height: calc(var(--local-scale) * (var(--card-body) + var(--card-header)*2));
}