@code {
    [Parameter] public int Size { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}

@if (Size > 1)
{
    <div class="stack-header__wrapper">
        <h3 class="stack-header">@Size cards</h3>
        @ChildContent
    </div>
}
else
{
    @ChildContent
}
