@inherits ChoiceBase<string[], int>

<p class="choose-one">
    @for (var i = 0; i < Model.Length; i++)
    {
        var ix = i;
        <ActiveButton @key="ix" Label="@Model[ix]" Enabled="@Enabled" Action="@(() => EnterChoice(ix))" />
    }
</p>