.card {
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid black;
    display: grid;
    grid-template-rows: 15px auto auto 15px;
    font-size: 12px;
}

.card__header, .card__footer {
    text-align: center;
}

.card__image {
    border-top: 2px solid black;
}

.card__text {
    border-bottom: 2px solid black;
}