.card-view {
    width: var(--card-width);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: white;
}

.card-view img {
    max-width: calc(var(--card-width) - 4px);
}

.card-view__title {
    text-align: center;
    font-size: 12px;
}

.card__header {
    height: 17px;
    border-bottom: 1px solid black;
}

.card__image {
    height: calc((var(--card-height) - 17px) / 2 - 1px);
    overflow: hidden;
}

.card__image-2x {
    height: calc(var(--card-height) - 17px);
    overflow: hidden;
}

.card__text {
    height: calc((var(--card-height) - 17px) / 2 + 1px);
    border-top: 2px solid black;
    font-size: 7px;
}

.card__footer {
    height: 17px;
    border-top: 1px solid black;
}