.card-view {
    width: var(--card-width);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.card-view img {
    max-width: calc(var(--card-width) - 4px);
}

.card-view__title {
    text-align: center;
    font-size: 12px;
    background: var(--highlight);
}

.card-view__picture {
    overflow: hidden;
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__header {
    height: var(--card-header);
}

.card__image {
    height: calc(var(--card-body) / 2 - 1px);
}

.card__image-2x {
    height: var(--card-body);
    overflow: hidden;
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__text-separator {
    height: 2px;
    border-top: 1px solid var(--card-text-background);
    border-bottom: 1px solid black;
    border-left: 1px solid var(--highlight);
    border-right: 1px solid var(--highlight);
}

.card__text {
    height: calc(var(--card-body) / 2 - 1px);
    font-size: 7px;
    background: var(--card-text-background);
    border: 1px solid var(--highlight);
    border-width: 0 1px;
}

.card__footer {
    height: var(--card-header);
}