@code {
    [Parameter] public bool Half { get; set; }
}

<div class="card-back">
    @if (Half)
    {
        <img class="card-back__1x" src="/card-back-half.jpg" />
    }
    else
    {
        <img class="card-back__2x" src="/card-back.jpg" />
    }
</div>