.chat-view {
    border: 1px solid black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.chat-view__log {
    flex-grow: 1;
    line-height: 1.15;
    min-height: calc(10em * 1.15);
    overflow-y: auto;
}

.chat-view__username {
    font-weight: bold;
}

.chat-view__entry {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr auto;
}