@inject IUserSession Session
@code {
    [Parameter] public GameModel Model { get; set; }
    [Parameter] public Action<string, ClientCommand> Dispatch { get; set; }

    private Action Command(ClientCommand command) => () => Dispatch(Session.Username, command);
}

<p>
    Welcome, @Session.Username.
    @if (!Model.Players.Contains(Session.Username))
    {
        <button @onclick="@Command(new JoinGameCommand())">Join game</button>
    }
    else
    {
        <button @onclick="@Command(new LeaveGameCommand())">Leave game</button>
    }
</p>

@if (Model.Players.Any())
{
    <p>Current players: @string.Join(", ", Model.Players).</p>
}
else
{
    <p>No players.</p>
}