.game-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'event-log left-bar board right-bar status' 
                         'event-log left-bar board right-bar chat-log';
    grid-template-columns: 1fr auto calc(var(--card-width) * 8 + (var(--std-gap) * 7)) auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: var(--std-gap);
}

.game-view__status {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.game-view__board {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.game-view__kingdom {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: var(--std-gap);
}

.game-view__actions {
    font-size: 48pt;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-view__hand {
    display: flex;
    justify-content: center;
}

.game-view__hand .card-view {
    margin-right: var(--std-gap);
}

.game-view__events {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}