@inject IUserSession Session
@code {
    [Parameter] public GameModel Model { get; set; }
    [CascadingParameter] public Executor Dispatch { get; set; }
}

<div class="game-view">
    <div style="grid-area: event-log" class="game-view__events">
        <VerticalLog>
            <p class="game-view__event">Someone did something.</p>
            <p class="game-view__event">Someone did something else.</p>
            <p class="game-view__event">An action was performed.</p>
        </VerticalLog>
    </div>

    <GridSeparator Area="left-bar"/>

    <div style="grid-area: board" class="game-view__board">
        <div class="game-view__kingdom">
            <Card Half="true" Id="Estate" />
            <Card Half="true" Id="Duchy" />
            <Card Half="true" Id="Province" />
            <Card Half="true" Id="Cellar" />
            <Card Half="true" Id="Market" />
            <Card Half="true" Id="Mine" />
            <Card Half="true" Id="Remodel" />
            <Card Half="true" Id="Moat" />

            <Card Half="true" Id="Copper" />
            <Card Half="true" Id="Silver" />
            <Card Half="true" Id="Gold" />
            <Card Half="true" Id="Smithy" />
            <Card Half="true" Id="Village" />
            <Card Half="true" Id="Woodcutter" />
            <Card Half="true" Id="Workshop" />
            <Card Half="true" Id="Militia" />
        </div>

        <div class="game-view__actions">
            <Card Large="true" Id="Village" />
            <Card Large="true" Id="Market" />
        </div>

        <div class="game-view__hand">
            <Card Id="Copper" />
            <Card Id="Copper" />
            <Card Id="Copper" />
            <Card Id="Estate" />
            <Card Id="Estate" />
        </div>
    </div>

    <GridSeparator Area="right-bar"/>

    <div style="grid-area: status" class="game-view__status">
        @if (Model.Players.Any())
        {
            <span>Current players: @string.Join(", ", Model.Players).</span>
        }
        else
        {
            <span>No players.</span>
        }

        @if (!Model.Players.Contains(Session.Username))
        {
            <button @onclick="@(() => Dispatch(new JoinGameCommand()))">Join game</button>
        }
        else
        {
            <button @onclick="@(() => Dispatch(new LeaveGameCommand()))">Leave game</button>
        }
    </div>

    <ChatView Model="@Model.ChatLog" />
</div>