.gapped-row {
    height: 100%;
    display: flex;
    justify-content: safe center;
    align-items: center;    
}

.gapped-row > * {
    margin-right: var(--std-gap);
}

.gapped-row > *:last-of-type {
    margin-right: 0;
}