.gapped-row {
    height: 100%;
    display: flex;
    justify-content: safe center;
    align-items: center;    
}

.gapped-row > * {
    margin-left: var(--std-gap);
}

.gapped-row > *:first-child {
    margin-left: 0;
}