.gapped-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gapped-row > * {
    margin-right: var(--std-gap);
}

.gapped-row > *:last-child {
    margin-right: 0;
}