.kingdom-card {
    --local-card-width: calc(var(--local-scale) * var(--card-width));
    --local-card-border-width: calc(var(--local-scale) * var(--card-border-width));
    --local-card-border-half: calc(var(--local-card-border-width) / 2);
    --local-card-header: calc(var(--local-scale) * var(--card-header));
    --local-card-footer: calc(var(--local-scale) * var(--card-footer));
    --local-card-body: calc(var(--local-scale) * var(--card-body));
    --local-card-title-font: calc(var(--local-scale) * var(--card-title-font));
    --local-card-title-caps-font: calc(var(--local-scale) * var(--card-title-caps-font));
    --local-card-type-font: calc(var(--local-scale) * var(--card-type-font));
    --local-card-type-caps-font: calc(var(--local-scale) * var(--card-type-caps-font));
    --local-card-body-font: calc(var(--local-scale) * var(--card-body-font));
    --local-card-icon: calc(var(--local-scale) * var(--card-icon));
    --local-border-radius: calc(var(--local-card-border-width) * 2);
    --text-scale: var(--local-scale);
    --text-image-align: bottom;
    width: var(--local-card-width);
    border-style: solid;
    border-width: var(--local-card-border-width);
    display: flex;
    flex-direction: column;
    border-radius: var(--local-border-radius);
    font-family: var(--card-body-family);
    background: var(--highlight);
}

.kingdom-card img {
    max-width: calc(var(--local-card-width) - calc(var(--local-card-border-width) * 2));
}

.card__title {
    text-align: center;
    font-family: var(--card-title-family);
    background: var(--highlight);
    white-space: nowrap;
    letter-spacing: -0.01em;
}

.card__title__word {
    display: inline-block;
}

.card__title__word::first-letter {
    font-size: var(--local-card-title-caps-font);
}

.card__type__word {
    display: inline-block;
}

.card__picture {
    overflow: hidden;
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
}

.card__picture--borderless {
    border: none;
    border-radius: var(--card-border-width);
}

.card__header {
    height: var(--local-card-header);
    line-height: var(--local-card-header);
    font-size: var(--local-card-title-font);
    border-radius: var(--local-border-radius) var(--local-border-radius) 0 0;
}

.card__image {
    height: calc(var(--local-card-body) / 2 - var(--local-card-border-half));
}

.card__image-2x {
    height: var(--local-card-body);
    overflow: hidden;
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
}

.card__text-separator {
    height: var(--local-card-border-width);
    border-top: var(--local-card-border-half) solid var(--card-text-background);
    border-bottom: var(--local-card-border-half) solid black;
    border-left: var(--local-card-border-half) solid var(--highlight);
    border-right: var(--local-card-border-half) solid var(--highlight);
}

.card__text {
    height: calc(var(--local-card-body) / 2 - var(--local-card-border-half));
    font-size: var(--local-card-body-font);
    background: var(--card-text-background);
    border: solid var(--highlight);
    border-width: 0 var(--local-card-border-half);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 calc(var(--local-scale) * 2px);
}

.card__text > * {
    text-align: center;
}

.card__footer {
    height: var(--local-card-footer);
    line-height: var(--local-card-footer);
    font-size: var(--local-card-type-font);
    display: grid;
    grid-template-columns: calc(var(--local-card-footer) - 1px) 1fr calc(var(--local-card-footer) - 1px);
    border-radius: 0 0 var(--local-border-radius) var(--local-border-radius);
}

.card__footer-cost, .card__footer-set {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--local-card-footer) - 1px);
    height: var(--local-card-footer);
}

.card__footer-cost {
    justify-content: flex-end;
}

.card__footer-set {
    justify-content: flex-start;
}

.card__icon {
    width: var(--local-card-icon);
}

.card__type {
    overflow: hidden;
    font-size: calc(var(--type-scale) * var(--local-card-type-font));
}

.card__type__word::first-letter {
    font-size: calc(var(--type-scale) * var(--local-card-type-caps-font));
}
