@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Center { get; set; }
}

<div class="magnify @(Center ? "magnify--center" : "")">
    @ChildContent
</div>