.magnify > * {
    transform: scale(2.0);
    transform-origin: top left;
}

@media (max-height: 740px) {
    .magnify > * {
        transform: scale(1.5);
    }
}

.magnify--center > * {
    transform-origin: center;
}

.magnify--bottom-left > * {
    transform-origin: bottom left;
}