@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public bool Half { get; set; }
}

<div class="special-card">
    @if (Half)
    {
        <img class="card-back__1x" src="/@(Name)-half.jpg" />
    }
    else
    {
        <img class="card-back__2x" src="/@(Name)-full.jpg" />
    }
</div>