@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public bool Half { get; set; }
    [Parameter] public int Stack { get; set; }
}

<WithTooltip>
    <Content>
        <Stacked Size="@Stack" Type="special" Half="@Half">
            <div class="special-card">
                @if (Half)
                {
                    <img class="card-back__1x" src="/@(Name)-half.jpg" />
                }
                else
                {
                    <img class="card-back__2x" src="/@(Name)-full.jpg" />
                }
            </div>
        </Stacked>
    </Content>
    <Tooltip>
        <Magnify>
            <div class="special-card">
                <img class="card-back__2x" src="/@(Name)-full.jpg" />
            </div>
        </Magnify>
    </Tooltip>
</WithTooltip>