.special-card {
    width: var(--card-width);
    border: 2px solid var(--card-border-color);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.special-card img {
    max-width: calc(var(--card-width) - 4px);
    object-fit: cover;
}

.special-card__1x {
    height: calc(var(--card-body)/2 + var(--card-header)*2);
}

.special-card__2x {
    height: calc(var(--card-body) + var(--card-header)*2);
}