@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Size { get; set; }
    [Parameter] public string Colour { get; set; }
    [Parameter] public string[] Colours { get; set; }
    [Parameter] public bool Half { get; set; }
    private string background;

    protected override void OnParametersSet()
    {
        background = Backgrounds.FromColours(Colours ?? new[] { Colour });
    }
}

<div class="stacked" style="--highlight: @background">
    @ChildContent
    @if (Size > 1)
    {
        if (Size > 2)
        {
            <div class="stacked__frame active-border@(Half ? " stacked__frame--half": "")" style="--offset: 8px"/>
        }
        <div class="stacked__frame active-border@(Half ? " stacked__frame--half": "")" style="--offset: 4px"/>
    }
</div>