@code {
    [Parameter] public int Count { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}

@if (Count > 1)
{
    <div class="stack-header__wrapper">
        <h3 class="stack-header">@Count cards</h3>
        @ChildContent
    </div>
}
else
{
    @ChildContent
}
