@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Count { get; set; }
    [Parameter] public string Colour { get; set; }
    [Parameter] public string[] Colours { get; set; }
    [Parameter] public Size Size { get; set; }
    private string background;

    protected override void OnParametersSet()
    {
        background = Backgrounds.FromColours(Colours ?? new[] { Colour });
    }
}

<div class="stacked" style="--highlight: @background">
    @ChildContent
    @if (Count > 1)
    {
        if (Count > 2)
        {
            <div class="active-border stacked__frame stacked__frame--@Size.ToString().ToLower()" style="--offset: 8px"/>
        }
        <div class="active-border stacked__frame stacked__frame--@Size.ToString().ToLower()" style="--offset: 4px"/>
    }
</div>