.stacked {
    position: relative;
}

.stacked__frame {
    width: var(--card-width);
    position: absolute;
    top: calc(var(--offset) * -1);
    left: calc(var(--offset) * -1);
    border: 2px solid;
    border-radius: 4px;
    z-index: -1;
    background: var(--highlight);
}

.stacked__frame--full {
    height: var(--card-height);
}

.stacked__frame--half {
    height: var(--card-half-height);
}

.stacked__frame--third {
    height: var(--card-third-height);
}