@inject IJSRuntime JS
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Type { get; set; }
    private ElementReference contentElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("VerticalLog.observeAdditions", contentElement);
        }
    }
}

<div class="vertical-log">
    <div class="vertical-log__content" @ref="contentElement">
        @ChildContent
    </div>
</div>