.vertical-log {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.vertical-log__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}