/* we want to use this in lines of text, but in Chrome an inline doesn't cover for the purpose of opacity */
/* possibly https://bugs.chromium.org/p/chromium/issues/detail?id=764011 is related? */
.with-tooltip {
    display: inline-block; 
    cursor: pointer;
}

.with-tooltip__tooltip {
    display: none;
    position: fixed;
    z-index: 10;
}

.with-tooltip:hover + .with-tooltip__tooltip {
}

.with-tooltip:hover + .with-tooltip__tooltip--visible {
    display: inherit;
}