@inject IJSRuntime JS
@code {
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public RenderFragment Tooltip { get; set; }
    ElementReference tooltip;

    private async Task MouseMove(MouseEventArgs args)
    {
        await JS.InvokeAsync<object>("WithTooltip.reposition", tooltip, args.ClientX, args.ClientY);
    }

    private async Task MouseOut(MouseEventArgs args)
    {
        await JS.InvokeAsync<object>("WithTooltip.deposition", tooltip);
    }
}

<div class="with-tooltip" @onmouseover="MouseMove" @onmousemove="MouseMove" @onmouseout="MouseOut">
    @Content
</div>
<div class="with-tooltip__tooltip" @ref="tooltip">
    @Tooltip
</div>