.special-card {
    --local-card-border-width: calc(var(--local-scale) * var(--card-border-width));
    --local-border-radius: calc(var(--local-card-border-width) * 2);
    width: calc(var(--local-scale) * var(--card-width));
    border-style: solid;
    border-width: var(--local-card-border-width);
    display: flex;
    flex-direction: column;
    border-radius: var(--local-border-radius);
}

.special-card img {
    max-width: calc(var(--local-scale) * (var(--card-width) - var(--local-card-border-width)));
    object-fit: cover;
    border-radius: var(--local-border-radius);
}

.special-card__full {
    height: calc(var(--local-scale) * (var(--card-body) + var(--card-header) + var(--card-footer)));
}

.special-card__half {
    height: calc(var(--local-scale) * (var(--card-body)/2 + var(--card-header) + var(--card-footer) -1px));
}

.special-card__third {
    height: calc(var(--local-scale) * var(--card-third-height));
}

