@inherits ChoiceBase<ChooseMultipleInput, int[]>
@code {
    private bool[] choices;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        choices = new bool[Model.Choices.Length];
    }

    private bool IsValid()
    {
        var selectedCount = choices.Where(b => b).Count();
        return Model.Number == selectedCount;
    }

    private void Submit()
    {
        var selected = Enumerable.Range(0, choices.Length)
            .Where(i => choices[i])
            .ToArray();

        EnterChoice(selected);
    }
}

<p class="choose-multiple">    
    @for (var i = 0; i < Model.Choices.Length; i++)
    {
        var ix = i;
        <label>
            <input type="checkbox" @onchange="args => choices[ix] = (bool)args.Value">
            <RichText Model="@Model.Choices[ix]" />
        </label>
        <br />
    }
</p>

<div>
    <ActiveButton Label="@("Choose " + Model.Number)" Enabled="@(Enabled && IsValid())" Action="@Submit" />
</div>