@page "/demo"
@inject NavigationManager Navigation
@inject IUserSession Session
@code {
    protected override void OnAfterRender(bool firstRender)
    {
        var id = Guid.NewGuid();
        if (!Session.IsLoggedIn)
        {
            Session.Login($"demo");
        }
        Navigation.NavigateTo($"/game/demo-{id}");
    }
}

<p>Loading demo...</p>