@page "/demo"
@inject NavigationManager Navigation
@inject IUserSession Session
@inject ILobbyEndpoint Lobby
@code {
    Guid id;

    protected override void OnInitialized()
    {
        id = Guid.NewGuid();
        if (!Session.IsLoggedIn)
        {
            Session.Login($"demo");
        }

        var game = Lobby.FindGame($"demo-{id}");

        Session.CreateBot("bot1");
        game.Execute("bot1", new JoinGameCommand { Seq = 0, IsBot = true });
        game.Execute("demo", new JoinGameCommand { Seq = 1 });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Navigation.NavigateTo($"/game/demo-{id}");
    }
}

<Padded>
    <p>Loading empty game...</p>
</Padded>