@page "/demo"
@inject NavigationManager Navigation
@inject IUserSession Session
@code {
    Guid id;

    protected override void OnInitialized()
    {
        id = Guid.NewGuid();
        if (!Session.IsLoggedIn)
        {
            Session.Login($"demo");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Navigation.NavigateTo($"/game/demo-{id}");
    }
}

<p>Loading demo...</p>