@page "/demo2"
@inject NavigationManager Navigation
@inject IUserSession Session
@inject IGameEndpoint Endpoint
@code {
    Guid id;

    protected override void OnInitialized()
    {
        id = Guid.NewGuid();
        if (!Session.IsLoggedIn)
        {
            Session.Login($"demo");
        }
        var game = Endpoint.FindGame($"demo-{id}");
        game.Execute("other-player", new JoinGameCommand { Seq = 0 });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Navigation.NavigateTo($"/game/demo-{id}");
    }
}

<p>Loading empty game...</p>