@page "/game"
@inject UserSession Session
@inject NavigationManager Navigation
@code {
    protected override void OnInitialized()
    {
        if (!Session.IsLoggedIn)
        {
            Navigation.NavigateTo("/");
        }
    }
}

<p>
    Welcome, @Session.Username
</p>