@page "/"
@attribute [Authorize]
@inject IGameEndpoint Endpoint
@code {
    private string[] games;

    protected override void OnInitialized()
    {
        games = Endpoint.ListGames();
    }
}

@foreach (var game in games)
{
    <p>
        <a href="/play/@game">@game</a>
    </p>
}