@page "/"
@inject UserSession Session
@inject NavigationManager Navigation
@code {
    string username;

    void OnClick()
    {
        if (!string.IsNullOrWhiteSpace(username))
        {
            Session.Username = username;
            Navigation.NavigateTo("/game");
        }
    }
}


<p>
    Please enter a username.<br>
    <input type="text" @bind="username">
    <button @onclick="OnClick">Join game!</button>
</p>