@inject IUserSession Session
@code {
    [CascadingParameter(Name = "Current")] public GameModel Model { get; set; }
    [CascadingParameter] public ClientDispatcher Dispatch { get; set; }
    string newMessage;

    private void SendMessage()
    {
        if (!string.IsNullOrEmpty(newMessage))
        {
            Dispatch(new ChatCommand { Message = newMessage });
            newMessage = null;
        }
    }
}

<div class="chat-view">
    <VerticalLog>
        <div class="chat-view__log">
            @foreach (var entry in Model.ChatLog)
            {
                <span class="chat-view__username">&lt;@entry.Username&gt;</span>
                <span class="chat-view__message">@entry.Message</span>
            }
        </div>
    </VerticalLog>

    <form class="chat-view__entry" @onsubmit="SendMessage">
        <input type="text" @bind="newMessage">
        <ActiveButton Label="Send message" />
    </form>
</div>