@code {
    [Parameter] public string Id { get; set; }
    private IEffect effect;

    protected override void OnParametersSet()
    {
        effect = All.Effects.ByName(Id);
    }
}

<WithTooltip>
    <Content>
        <img class="effect-view__icon" width="32" src="/_content/Cardgame.UI/cards/@(effect.Art).jpg" />
    </Content>
    <Tooltip>
        <div class="effect-view__tooltip">
            <RichText @key="effect.Text.GetHashCode()" Model="@effect.Text" />
        </div>
    </Tooltip>
</WithTooltip>