.active-card {
    position: relative;
}

.active-card--enabled {
    cursor: pointer;
}

.active-card--enabled .active-border {
    border-color: var(--active-color);
}

.active-card--enabled:hover .active-border {
    border-color: var(--active-focus-color);
}