.stacked {
    position: relative;
}

.stacked__frame {
    width: calc(var(--local-scale) * var(--card-width));
    position: absolute;
    top: calc(var(--offset) * -1 * var(--local-scale));
    left: calc(var(--offset) * -1 * var(--local-scale));
    border-style: solid;
    border-width: calc(var(--local-scale) * 2px);
    border-radius: calc(var(--local-scale) * 4px);
    z-index: -1;
    background: var(--highlight);
}

.stacked__frame--full {
    height: calc(var(--local-scale) * var(--card-height));
}

.stacked__frame--half {
    height: var(--card-half-height);
}

.stacked__frame--third {
    height: var(--card-third-height);
}