@inject IJSRuntime JS
@code {
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public RenderFragment Tooltip { get; set; }
    ElementReference content;
    ElementReference tooltip;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeAsync<object>("WithTooltip.register", content, tooltip);
        }
    }
}

<span class="with-tooltip" @ref="content">
    @Content
    <span class="with-tooltip__tooltip" @ref="tooltip">
        @Tooltip
    </span>
</span>
